<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_word/css/style.css' %}">
    <title>Random Word Generator</title>
</head>
<body>
    <h1>Random Word (attempt # {{ request.session.counter }})</h1> 
    <!-- <h1>{{ request.session.counter }}</h1> -->
    <div><h2>{{ request.session.rand_word }}</h2></div>
    
    <form action="/random_word/gen_word" method="post">
        {% csrf_token %}
        <button type="submit">Generate</button> 
    </form>
    
</body>
</html>